<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TudoSobreSolar.com.br</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body class="bg-gray-50">

<header>
<!-- INICIO NAVBAR -->
<nav class="bg-white shadow text-gray-700">
    <div class="max-w-7xl mx-auto px-4">
        <div class="flex justify-between items-center">
            <div class="flex space-x-4">
                <!-- LOGO -->
                <div>
                    <a href="#" class="flex items-center py-4 pr-3 hover:text-gray-900">
                        <svg class="h-8 w-8 mr-1 text-colora" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z" />
                          </svg>
                          <span class="text-lg"><span class="font-bold">tudo</span>sobre<span class="font-bold">solar</span></span>
                    </a>
                </div>
                <!-- MENU PRINCIPAL -->
                <div class="hidden md:flex items-center text-sm space-x-1">
                    <a href="#" class="py-2 px-3 hover:bg-gray-200 hover:text-gray-900 rounded">Artigos</a>
                    <a href="#" class="py-2 px-3 hover:bg-gray-200 hover:text-gray-900 rounded">Calculadora Solar</a>
                    <a href="#" class="py-2 px-3 hover:bg-gray-200 hover:text-gray-900 rounded">Investimentos</a>
                    <a href="#" class="py-2 px-3 hover:bg-gray-200 hover:text-gray-900 rounded">Cursos</a>
                </div>
            </div>
            <!-- MENU DE BUSCA E CALL TO ACTION -->
            <div class="hidden md:flex items-center space-x-8">
                <!-- INPUT DE BUSCA -->
                <div class="hidden lg:block relative mx-auto text-gray-600 ">
                    <input type="text" class="w-24 lg:w-48 px-4 py-2 leading-tight text-sm text-gray-700 bg-white rounded-md placeholder-gray-500 border border-gray-200 focus:outline-none focus:bg-white focus:shadow-outline focus:border-colora" placeholder="Buscar" aria-label="Search">
                    <button type="submit" class="absolute right-0 top-0 mt-3 mr-4 ">
                        <svg class="w-4 h-4 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                          </svg>
                    </button>
                </div>
                <!-- INPUT DE BUSCA -->
                <a href="#" class="py-3 px-3 bg-colora text-white text-sm font-bold rounded hover:bg-colord transition duration-300">Quero Comprar</a>
            </div>
            <!-- BOTAO MENU MOBILE -->
            <div class="md:hidden flex items-center">
                <button id="menu-button">
                    <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <!-- MENU MOBILE -->
    <div class="hidden md:hidden" id="menu-mobile">
        <a href="#" class="block py-2 px-8 text-sm hover:bg-gray-200">Artigos</a>
        <a href="#" class="block py-2 px-8 text-sm hover:bg-gray-200">Calculadora Solar</a>
        <a href="#" class="block py-2 px-8 text-sm hover:bg-gray-200">Investimentos</a>
        <a href="#" class="block py-2 px-8 text-sm hover:bg-gray-200">Cursos</a>
    </div>
</nav>
<!-- FIM NAVBAR -->
</header>

<main>
    <!-- CONTENT WRAPPER -->
    <div class="max-w-7xl mt-6 mx-auto px-2 md:px-4">

        <!-- DESTAQUES -->
        <div class="grid md:grid-cols-2 lg:grid-cols-3 lg:grid-rows-2 gap-4">
            <!-- DESTAQUE PRINCIPAL -->
            <div class="md:col-span-2 lg:row-span-2 bg-black bg-center bg-cover bg-no-repeat shadow-md cursor-pointer" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1)), url('../static/img/solar1.jpg');">                
                <div class="flex flex-wrap content-between h-96 md:pb-12 pb-6 pt-8 px-4">
                    <div class="py-1 w-32 bg-colord text-white text-xs uppercase font-bold text-center">categoria</div>
                    <div>
                        <span class="md:text-5xl text-3xl text-white font-medium inline-block">Setor solar fotovoltaico tem oportunidades de negócios em projetos públicos no País</span>
                        <span class="text-lg text-white inline-block mt-4">Setor solar fotovoltaico tem oportunidades de negócios em projetos públicos no País</span>
                    </div>
                </div>
            </div>

            <!-- DESTAQUE SECUNDARIO 1-->
            <div class="hidden md:block bg-black bg-center bg-cover bg-no-repeat shadow-md cursor-pointer" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1)), url('../static/img/solar2.jpg');">
                <div class="flex flex-wrap content-between h-52 md:h-44 pt-4 pb-4 px-4">
                    <div class="py-1 w-32 bg-colord text-white text-xs uppercase font-bold text-center">categoria</div>
                    <span class="text-2xl text-white font-medium inline-block">Setor solar fotovoltaico tem oportunidades de negócios em projetos públicos no País</span>
                </div>
            </div>

            <!-- DESTAQUE SECUNDARIO 2-->
            <div class="hidden md:block bg-black bg-center bg-cover bg-no-repeat shadow-md cursor-pointer" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1)), url('../static/img/solar3.jpg');">  
                <div class="flex flex-wrap content-between h-52 md:h-44 pt-4 pb-4 px-4">
                    <div class="py-1 w-32 bg-colord text-white text-xs uppercase font-bold text-center">categoria</div>
                    <span class="text-2xl text-white font-medium inline-block">Setor solar fotovoltaico tem oportunidades de negócios em projetos públicos no País</span>
                </div>
            </div>
        </div>

        <!-- INICIO CONTEÚDO -->
        <div class="grid lg:grid-rows-13 lg:grid-cols-3 gap-4 mt-4">

            <!-- QUADRO PRINCIPAL DE NOTICIAS -->
            <div class="lg:col-span-2 md:row-span-10 text-gray-600">

                <!-- NOTICIA 1 -->                
                <div class="flex flex-wrap md:flex-nowrap pt-2 pb-3 px-2 md:px-0 md:py-4 bg-white md:bg-gray-50 border md:border-l-0 md:border-r-0 md:border-t-0 md:border-b-2 border-gray-200 hover:text-gray-900">
                    <!-- NOTICIA 1 - COLUNA IMG -->
                    <a href="#">
                    <div class="flex flex-col md:block w-full md:w-64 md:mb-0 mb-2 flex-shrink-0 ">
                        <img src="../static/img/solar2.jpg" class="w-full h-36 md:h-44 object-cover object-center">
                    </div>
                    <!-- NOTICIA 1 - COLUNA TEXTO -->
                    <div class="md:flex-grow md:pl-6 md:pr-2">
                        <span class="tracking-widest text-xs title-font font-medium text-white mb-1 bg-colora px-2 md:py-0.5">CATEGORIA</span>
                        <span class="tracking-wide text-xs title-font font-medium text-gray-400 mb-1 pl-2">Publicado em 26/02/2021</span>
                        <h2 class="text-2xl font-medium text-gray-900 title-font mb-2 md:pt-2">Bitters hashtag waistcoat fashion axe </h2>
                        <p class="leading-relaxed">Glossier echo park pug, church-key sartorial biodiesel vexillologist pop-up snackwave ramps cornhole. Marfa 3 wolf moon party messenger bag selfies, poke vaporware kombucha lumbersexual pork.</p>
                        </a>
                    </div>
                </div>

                <!-- NOTICIA 2 -->    
                <div class="flex flex-wrap md:flex-nowrap pt-2 pb-3 px-2 mt-4 md:mt-0 md:px-0 md:py-4 bg-white md:bg-gray-50 border md:border-l-0 md:border-r-0 md:border-t-0 md:border-b-2 border-gray-200 hover:text-gray-900">
                    <!-- NOTICIA 2 - COLUNA IMG -->
                    <a href="#">
                    <div class="flex flex-col md:block w-full md:w-64 md:mb-0 mb-2 flex-shrink-0 ">
                        <img src="../static/img/solar3.jpg" class="w-full h-36 md:h-44 object-cover object-center">
                    </div>
                    <!-- NOTICIA 2 - COLUNA TEXTO -->
                    <div class="md:flex-grow md:pl-6 md:pr-2">
                        <span class="tracking-widest text-xs title-font font-medium text-white mb-1 bg-colora px-2 md:py-0.5">CATEGORIA</span>
                        <span class="tracking-wide text-xs title-font font-medium text-gray-400 mb-1 pl-2">Publicado em 26/02/2021</span>
                        <h2 class="text-2xl font-medium text-gray-900 title-font mb-2 md:pt-2">Bitters hashtag waistcoat fashion axe </h2>
                        <p class="leading-relaxed">Glossier echo park pug, church-key sartorial biodiesel vexillologist pop-up snackwave ramps cornhole. Marfa 3 wolf moon party messenger bag selfies, poke vaporware kombucha lumbersexual pork.</p>
                        </a>
                    </div>
                </div>

                <!-- NOTICIA 3 -->    
                <div class="flex flex-wrap md:flex-nowrap pt-2 pb-3 px-2 mt-4 md:mt-0 md:px-0 md:py-4 bg-white md:bg-gray-50 border md:border-l-0 md:border-r-0 md:border-t-0 md:border-b-2 border-gray-200 hover:text-gray-900">
                    <!-- NOTICIA 3 - COLUNA IMG -->
                    <a href="#">
                    <div class="flex flex-col md:block w-full md:w-64 md:mb-0 mb-2 flex-shrink-0 ">
                        <img src="../static/img/solar4.jpg" class="w-full h-36 md:h-44 object-cover object-center">
                    </div>
                    <!-- NOTICIA 3 - COLUNA TEXTO -->
                    <div class="md:flex-grow md:pl-6 md:pr-2">
                        <span class="tracking-widest text-xs title-font font-medium text-white mb-1 bg-colora px-2 md:py-0.5">CATEGORIA</span>
                        <span class="tracking-wide text-xs title-font font-medium text-gray-400 mb-1 pl-2">Publicado em 26/02/2021</span>
                        <h2 class="text-2xl font-medium text-gray-900 title-font mb-2 md:pt-2">Bitters hashtag waistcoat fashion axe </h2>
                        <p class="leading-relaxed">Glossier echo park pug, church-key sartorial biodiesel vexillologist pop-up snackwave ramps cornhole. Marfa 3 wolf moon party messenger bag selfies, poke vaporware kombucha lumbersexual pork.</p>
                        </a>
                    </div>
                </div>

                <!-- NOTICIA 4 -->    
                <div class="flex flex-wrap md:flex-nowrap pt-2 pb-3 px-2 mt-4 md:mt-0 md:px-0 md:py-4 bg-white md:bg-gray-50 border md:border-l-0 md:border-r-0 md:border-t-0 md:border-b-2 border-gray-200 hover:text-gray-900">
                    <!-- NOTICIA 4 - COLUNA IMG -->
                    <a href="#">
                    <div class="flex flex-col md:block w-full md:w-64 md:mb-0 mb-2 flex-shrink-0 ">
                        <img src="../static/img/solar5.jpg" class="w-full h-36 md:h-44 object-cover object-center">
                    </div>
                    <!-- NOTICIA 4 - COLUNA TEXTO -->
                    <div class="md:flex-grow md:pl-6 md:pr-2">
                        <span class="tracking-widest text-xs title-font font-medium text-white mb-1 bg-colora px-2 md:py-0.5">CATEGORIA</span>
                        <span class="tracking-wide text-xs title-font font-medium text-gray-400 mb-1 pl-2">Publicado em 26/02/2021</span>
                        <h2 class="text-2xl font-medium text-gray-900 title-font mb-2 md:pt-2">Bitters hashtag waistcoat fashion axe </h2>
                        <p class="leading-relaxed">Glossier echo park pug, church-key sartorial biodiesel vexillologist pop-up snackwave ramps cornhole. Marfa 3 wolf moon party messenger bag selfies, poke vaporware kombucha lumbersexual pork.</p>
                        </a>
                    </div>
                </div>

                <!-- NOTICIA 5 -->    
                <div class="flex flex-wrap md:flex-nowrap pt-2 pb-3 px-2 mt-4 md:mt-0 md:px-0 md:py-4 bg-white md:bg-gray-50 border md:border-l-0 md:border-r-0 md:border-t-0 md:border-b-2 border-gray-200 hover:text-gray-900">
                    <!-- NOTICIA 5 - COLUNA IMG -->
                    <a href="#">
                    <div class="flex flex-col md:block w-full md:w-64 md:mb-0 mb-2 flex-shrink-0 ">
                        <img src="../static/img/solar6.jpg" class="w-full h-36 md:h-44 object-cover object-center">
                    </div>
                    <!-- NOTICIA 5 - COLUNA TEXTO -->
                    <div class="md:flex-grow md:pl-6 md:pr-2">
                        <span class="tracking-widest text-xs title-font font-medium text-white mb-1 bg-colora px-2 md:py-0.5">CATEGORIA</span>
                        <span class="tracking-wide text-xs title-font font-medium text-gray-400 mb-1 pl-2">Publicado em 26/02/2021</span>
                        <h2 class="text-2xl font-medium text-gray-900 title-font mb-2 md:pt-2">Bitters hashtag waistcoat fashion axe </h2>
                        <p class="leading-relaxed">Glossier echo park pug, church-key sartorial biodiesel vexillologist pop-up snackwave ramps cornhole. Marfa 3 wolf moon party messenger bag selfies, poke vaporware kombucha lumbersexual pork.</p>
                        </a>
                    </div>
                </div>

                <!-- NOTICIA 6 -->    
                <div class="flex flex-wrap md:flex-nowrap pt-2 pb-3 px-2 mt-4 md:mt-0 md:px-0 md:py-4 bg-white md:bg-gray-50 border md:border-l-0 md:border-r-0 md:border-t-0 md:border-b-2 border-gray-200 hover:text-gray-900">
                    <!-- NOTICIA 6 - COLUNA IMG -->
                    <a href="#">
                    <div class="flex flex-col md:block w-full md:w-64 md:mb-0 mb-2 flex-shrink-0 ">
                        <img src="../static/img/solar7.jpg" class="w-full h-36 md:h-44 object-cover object-center">
                    </div>
                    <!-- NOTICIA 6 - COLUNA TEXTO -->
                    <div class="md:flex-grow md:pl-6 md:pr-2">
                        <span class="tracking-widest text-xs title-font font-medium text-white mb-1 bg-colora px-2 md:py-0.5">CATEGORIA</span>
                        <span class="tracking-wide text-xs title-font font-medium text-gray-400 mb-1 pl-2">Publicado em 26/02/2021</span>
                        <h2 class="text-2xl font-medium text-gray-900 title-font mb-2 md:pt-2">Bitters hashtag waistcoat fashion axe </h2>
                        <p class="leading-relaxed">Glossier echo park pug, church-key sartorial biodiesel vexillologist pop-up snackwave ramps cornhole. Marfa 3 wolf moon party messenger bag selfies, poke vaporware kombucha lumbersexual pork.</p>
                        </a>
                    </div>
                </div>

                <!-- NOTICIA 7 -->    
                <div class="flex flex-wrap md:flex-nowrap pt-2 pb-3 px-2 mt-4 md:mt-0 md:px-0 md:py-4 bg-white md:bg-gray-50 border md:border-l-0 md:border-r-0 md:border-t-0 md:border-b-2 border-gray-200 hover:text-gray-900">
                    <!-- NOTICIA 7 - COLUNA IMG -->
                    <a href="#">
                    <div class="flex flex-col md:block w-full md:w-64 md:mb-0 mb-2 flex-shrink-0 ">
                        <img src="../static/img/solar2.jpg" class="w-full h-36 md:h-44 object-cover object-center">
                    </div>
                    <!-- NOTICIA 7 - COLUNA TEXTO -->
                    <div class="md:flex-grow md:pl-6 md:pr-2">
                        <span class="tracking-widest text-xs title-font font-medium text-white mb-1 bg-colora px-2 md:py-0.5">CATEGORIA</span>
                        <span class="tracking-wide text-xs title-font font-medium text-gray-400 mb-1 pl-2">Publicado em 26/02/2021</span>
                        <h2 class="text-2xl font-medium text-gray-900 title-font mb-2 md:pt-2">Bitters hashtag waistcoat fashion axe </h2>
                        <p class="leading-relaxed">Glossier echo park pug, church-key sartorial biodiesel vexillologist pop-up snackwave ramps cornhole. Marfa 3 wolf moon party messenger bag selfies, poke vaporware kombucha lumbersexual pork.</p>
                        </a>
                    </div>
                </div>

                <!-- NOTICIA 8 -->    
                <div class="flex flex-wrap md:flex-nowrap pt-2 pb-3 px-2 mt-4 md:mt-0 md:px-0 md:py-4 bg-white md:bg-gray-50 border md:border-l-0 md:border-r-0 md:border-t-0 md:border-b-2 border-gray-200 hover:text-gray-900">
                    <!-- NOTICIA 8 - COLUNA IMG -->
                    <a href="#">
                    <div class="flex flex-col md:block w-full md:w-64 md:mb-0 mb-2 flex-shrink-0 ">
                        <img src="../static/img/solar3.jpg" class="w-full h-36 md:h-44 object-cover object-center">
                    </div>
                    <!-- NOTICIA 8 - COLUNA TEXTO -->
                    <div class="md:flex-grow md:pl-6 md:pr-2">
                        <span class="tracking-widest text-xs title-font font-medium text-white mb-1 bg-colora px-2 md:py-0.5">CATEGORIA</span>
                        <span class="tracking-wide text-xs title-font font-medium text-gray-400 mb-1 pl-2">Publicado em 26/02/2021</span>
                        <h2 class="text-2xl font-medium text-gray-900 title-font mb-2 md:pt-2">Bitters hashtag waistcoat fashion axe </h2>
                        <p class="leading-relaxed">Glossier echo park pug, church-key sartorial biodiesel vexillologist pop-up snackwave ramps cornhole. Marfa 3 wolf moon party messenger bag selfies, poke vaporware kombucha lumbersexual pork.</p>
                        </a>
                    </div>
                </div>

                <!-- NOTICIA 9 -->    
                <div class="flex flex-wrap md:flex-nowrap pt-2 pb-3 px-2 mt-4 md:mt-0 md:px-0 md:py-4 bg-white md:bg-gray-50 border md:border-l-0 md:border-r-0 md:border-t-0 md:border-b-2 border-gray-200 hover:text-gray-900">
                    <!-- NOTICIA 9 - COLUNA IMG -->
                    <a href="#">
                    <div class="flex flex-col md:block w-full md:w-64 md:mb-0 mb-2 flex-shrink-0 ">
                        <img src="../static/img/solar4.jpg" class="w-full h-36 md:h-44 object-cover object-center">
                    </div>
                    <!-- NOTICIA 9 - COLUNA TEXTO -->
                    <div class="md:flex-grow md:pl-6 md:pr-2">
                        <span class="tracking-widest text-xs title-font font-medium text-white mb-1 bg-colora px-2 md:py-0.5">CATEGORIA</span>
                        <span class="tracking-wide text-xs title-font font-medium text-gray-400 mb-1 pl-2">Publicado em 26/02/2021</span>
                        <h2 class="text-2xl font-medium text-gray-900 title-font mb-2 md:pt-2">Bitters hashtag waistcoat fashion axe </h2>
                        <p class="leading-relaxed">Glossier echo park pug, church-key sartorial biodiesel vexillologist pop-up snackwave ramps cornhole. Marfa 3 wolf moon party messenger bag selfies, poke vaporware kombucha lumbersexual pork.</p>
                        </a>
                    </div>
                </div>

                <!-- NOTICIA 10 -->    
                <div class="flex flex-wrap md:flex-nowrap pt-2 pb-3 px-2 mt-4 md:mt-0 md:px-0 md:py-4 bg-white md:bg-gray-50 border md:border-l-0 md:border-r-0 md:border-t-0 md:border-b-2 border-gray-200 hover:text-gray-900">
                    <!-- NOTICIA 10 - COLUNA IMG -->
                    <a href="#">
                    <div class="flex flex-col md:block w-full md:w-64 md:mb-0 mb-2 flex-shrink-0 ">
                        <img src="../static/img/solar5.jpg" class="w-full h-36 md:h-44 object-cover object-center">
                    </div>
                    <!-- NOTICIA 10 - COLUNA TEXTO -->
                    <div class="md:flex-grow md:pl-6 md:pr-2">
                        <span class="tracking-widest text-xs title-font font-medium text-white mb-1 bg-colora px-2 md:py-0.5">CATEGORIA</span>
                        <span class="tracking-wide text-xs title-font font-medium text-gray-400 mb-1 pl-2">Publicado em 26/02/2021</span>
                        <h2 class="text-2xl font-medium text-gray-900 title-font mb-2 md:pt-2">Bitters hashtag waistcoat fashion axe </h2>
                        <p class="leading-relaxed">Glossier echo park pug, church-key sartorial biodiesel vexillologist pop-up snackwave ramps cornhole. Marfa 3 wolf moon party messenger bag selfies, poke vaporware kombucha lumbersexual pork.</p>
                        </a>
                    </div>
                </div>


            </div> <!-- FIM QUADRO PRINCIPAL DE NOTICIAS -->

            <!-- QUADRO LATERAL DE NOTICIAS -->
            <div class="lg:row-span-10">

                <!-- 1º QUADRO LATERAL DE NOTICIAS -->
                <div class="flex items-center bg-colorc text-white uppercase py-1 font-medium">
                    <svg class="w-6 h-6 mx-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 20H5a2 2 0 01-2-2V6a2 2 0 012-2h10a2 2 0 012 2v1m2 13a2 2 0 01-2-2V7m2 13a2 2 0 002-2V9a2 2 0 00-2-2h-2m-4-3H9M7 16h6M7 8h6v4H7V8z" />
                      </svg>
                      <span class="">Mais lidas</span>
                </div>

                <div class="mb-4 pt-1 pb-3 text-gray-700 pr-1 bg-white md:bg-gray-50 border border-t-0 md:border-none border-gray-200">
                    <!-- LISTA DE NOTICIAS 1º QUADRO LATERAL-->
                    <ol class="list-none">
                        <a href="#" class="hover:text-gray-900">
                        <li class="flex items-center">
                            <span class="p-3 text-2xl font-bold italic">1.</span>
                            <span>Setor solar fotovoltaico tem oportunidades de negócios em projetos públicos no País</span></li>
                        </a>

                        <a href="#" class="hover:text-gray-900">
                            <li class="flex items-center">
                                <span class="p-3 text-2xl font-bold italic">2.</span>
                                <span>Bitters hashtag waistcoat fashion axe.</span></li>
                        </a>

                        <a href="#" class="hover:text-gray-900">
                            <li class="flex items-center">
                                <span class="p-3 text-2xl font-bold italic">3.</span>
                                <span>Lorem ipsum dolor sit amet, consectetur elit. Praesent euismod ultrices ante.</span></li>
                        </a>

                        <a href="#" class="hover:text-gray-900">
                            <li class="flex items-center">
                                <span class="p-3 text-2xl font-bold italic">4.</span>
                                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante.</span></li>
                        </a>

                        <a href="#" class="hover:text-gray-900">
                            <li class="flex items-center">
                                <span class="p-3 text-2xl font-bold italic">5.</span>
                                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante.</span></li>
                        </a>

                        <a href="#" class="hover:text-gray-900">
                            <li class="flex items-center">
                                <span class="p-3 text-2xl font-bold italic">6.</span>
                                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante.</span></li>
                        </a>

                        <a href="#" class="hover:text-gray-900">
                            <li class="flex items-center">
                                <span class="p-3 text-2xl font-bold italic">7.</span>
                                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante.</span></li>
                        </a>

                        <a href="#" class="hover:text-gray-900">
                            <li class="flex items-center">
                                <span class="p-3 text-2xl font-bold italic">8.</span>
                                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante.</span></li>
                        </a>
                      </ol> 
                </div> <!-- FIM 1º QUADRO LATERAL DE NOTICIAS -->

                <!-- 2º QUADRO LATERAL DE NOTICIAS -->
                <div class="bg-red-400 py-44 mb-2 shadow-md">Tema 2</div>

                
            </div>

            <div class="bg-blue-200 py-36 lg:col-span-3">Matéria DESTAQUE 3</div>
            <div class="bg-blue-400 py-36 lg:col-span-3">Increva-se</div>
            <div class="bg-blue-600 py-36 lg:col-span-3">Footer</div>
        </div>

    </div>
     <!-- FIM CONTENT WRAPPER -->


</main>






    <script src="navbar.js"></script>
</body>
</html>